<%# app/views/devise/passwords/new.html.erb %>

<div class="bg-gray-50 dark:bg-gray-900 min-h-screen flex items-center justify-center py-12 px-4">
  <div class="max-w-md w-full space-y-8 bg-white dark:bg-gray-800 p-10 rounded-xl shadow-lg border dark:border-gray-700">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-gray-100 font-serif">
        Esqueceu a sua senha?
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-400">
        Não se preocupe, insira o seu e-mail abaixo e enviaremos as instruções.
      </p>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mt-6">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700 dark:text-gray-300" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-200 rounded-md shadow-sm" %>
      </div>

      <div class="mt-8">
        <%= f.submit "Enviar instruções de redefinição", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700" %>
      </div>
    <% end %>

    <div class="text-sm text-center mt-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
